<ion-header>
  <ion-toolbar>
    <ion-title>
      Clima 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Latitud</ion-label>
        <ion-input [(ngModel)]="latitude" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Longitud</ion-label>
        <ion-input [(ngModel)]="longitude" type="number"></ion-input>
      </ion-item>

      <ion-button (click)="getWeather()">Obtener Clima</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="weatherData">
    <ion-card-header>
      {{ weatherData.name }}, {{ weatherData.sys.country }}
    </ion-card-header>
    <ion-card-content>
      {{ weatherData.weather[0].description }}
    </ion-card-content>
  </ion-card>
</ion-content>
